body {
  padding-top: 5%;
}

.navbar-brand {
    padding-left: 10%;
}

.nav-link {
  color: white;
  margin-left: 20%;
}

.nav-link:hover {
  color: white !important;
}


li:hover {
  cursor:pointer;
}
